
/*
  1. menu
  2. home
*/

* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: 'Archivo Black', sans-serif;
  font-size: 18px;
  max-width: 1700px;
}

/* Mobile Menu */
.mobile-menu,
.web-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: #F8F8FF;
  padding: 15px 20px;
  position: fixed;
  top: 0;
}
.mobile-menu .title,
.web-menu .title {
  font-family: 'Sansita Swashed', cursive;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}
.mobile-menu .title a,
.web-menu .title a{
  color: #000;
  text-decoration: none;
}
.mobile-menu .title a:visited,
.web-menu .title a:visited{
  color: #000;
  text-decoration: none;
}
.mobile-menu .lines {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
}
.mobile-menu .lines .line {
  width: 25px;
  height: 2px;
  background: #000;
  margin: 0 auto 7px;
}
/* Mobile Menu Clicked */
.mobile-menu-clicked {
  display: none;
  width: 100%;
  height: 100%;
  background: #F8F8FF;
  padding: 80px 0 40px 150px;
}
.mobile-menu-clicked .item {
  margin-bottom: 40px;
  font-size: 1.2em;
  cursor: pointer;
}
.mobile-menu-clicked .item a{
  color: #000;
  text-decoration: none;
}
.mobile-menu-clicked .close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
/* Web Menu*/
.web-menu {
  display: none;
}
.web-menu .menu {
  display: flex;
  flex-direction: flex-end;
  align-items: center;
}
.web-menu .menu .item {
  font-family: 'Sansita Swashed', cursive;
  margin-right: 25px;
  font-size: 1.2em;
}
.web-menu .menu .item a{
  color: #000;
  text-decoration: none;
}
.web-menu .menu .item a:visited{
  color: #000;
  text-decoration: none;
}
@media(min-width: 800px) {
  .mobile-menu {
    display: none;
  }
  .web-menu {
    display: flex;
  }
}
/* Side Menu */
.side-menu {
  display: none;
  position: fixed;
  top: 150px;
  left: 50px;
}
.side-menu .item {
  display: flex;
  margin-bottom: 30px;
}
.side-menu .item .icon {
  width: 13.6px;
  height: 13.6px;
  background: #000;
  margin-right: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-bordr-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.side-menu .item .text {
  letter-spacing: 3px;
  font-size: 0.7em;
  padding-top: 1px;
}
.side-menu .item .text a{
  color: #000;
  text-decoration: none;
}
@media(min-width: 800px) {
  .side-menu {
    display: block;
  }
}
@media(min-width: 1700px) {
  .side-menu {
    display: none;
  }
}

/* Home */
.home {
  position: relative;
}
.home .title,
.home .image01,
.home .image02,
.home .image03 {
  position: absolute;
}
.home .title {
  width: 100%;
  z-index: 1;
  color: #fff;
  font-family: 'Sansita Swashed', cursive;
  padding-top: 250px;
  text-align: center;
  font-size: 2em;
}
.home .image01,
.home .image02,
.home .image03 {
  width: 100%;
  height: 500px;
  z-index: -1;
}
.home .image01 {
  background: url('../image/home01.avif') no-repeat;
  background-size: cover;
  background-position: 20% 70%;
}
.home .image02 {
  background: url('../image/home02.avif') no-repeat;
  background-size: cover;
  background-position: 20% 30%;
}
.home .image03 {
  background: url('../image/home03.avif') no-repeat;
  background-size: cover;
  background-position: 55% 40%;
}
@media(min-width: 700px) {
  .home .title {
    font-size: 3em;
  }
}
