
/*
  1. about
  2. skill
  3. work
*/

/* About */
.about {
  padding-top: 500px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .title {
  font-size: 1.7em;
  margin: 70px 0 30px 0;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about .image01 {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  background-image: url('../image/about01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #000;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-bordr-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.about .name {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.about .detail {
  margin-bottom: 15px;
}
.about .detail span {
  display: none;
  margin: 0 10px 0 -103px;
  font-weight: bold;
  color: #B8860B;
}
.about .detail a {
  color: #000;
}
.about .detail a i{
  font-size: 1.6em;
  margin-right: 7px;
}
.about .phone,
.about .mail {
  margin-bottom: 5px;
  font-size: 1.2em;
}

/* Skill */
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill .title {
  font-size: 2em;
  margin: 70px 0 30px 0;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.skill .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: url('../image/skill01.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  z-index: -1;
}
.skill .item {
  width: 100px;
  height: 100px;
  margin: 0 30px;
}
.skill .js {
  background: url('../image/skill02.png') no-repeat;
  background-size: cover;
}
.skill .jq {
  background: url('../image/skill03.png') no-repeat;
  background-size: cover;
}
.skill .b {
  background: url('../image/skill04.png') no-repeat;
  background-size: cover;
}
.skill .git {
  background: url('../image/skill05.jpg') no-repeat;
  background-size: cover;
}

/* Work */
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work .title {
  font-size: 1.7em;
  margin: 70px 0 100px 0;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.work .item {
  width: 225px;
  height: 225px;
  cursor: pointer;
}
.work .items .item.animate-style {
  font-size: 1.4em;
  line-height: 1.3em;
  padding-top: 59px;
  padding-left: 29px;
}
.work .item:hover {
  opacity: 0.7;
}
.work .item.js:hover {
  box-shadow: 15px 15px 15px #000;
}
.work .item.api:hover {
  box-shadow: -15px 15px 15px #000;
}
.work .js {
  background: url(../image/work01.png) no-repeat;
  box-shadow: 2px 6px 5px #000;
  margin-bottom: 80px;
}
.work .items a {
  color: #000;
  text-decoration: none;
}
.work .api {
  background-color: #CD5C5C;
  box-shadow: -5px 2px 3px #000;
}
.work .api .api-up {
  font-size: 6.5em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 7px;
}
.work .api .api-down {
  color: #1e1e1e;
  font-size: 2.5em;
  font-weight: bold;
  padding-left: 5px;
}
@media(min-width: 1000px) {
  .work .items{
    display: flex;
  }
  .work .js {
    margin-right: 60px;
  }
  .work .api {
    margin-left: 60px;
  }
  .work .api {
    box-shadow: -2px 5px 3px #000;
  }
}