
/*
  1. work 01
*/

/* Work 01 */
.work01 {
  width: 100%;
  margin: 100px auto 0;
}
.work01 > .title,
.work02-2 > .title {
  font-size: 1.4em;
  margin-top: 90px;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
.work01 .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work01 .image {
  margin: 60px 0 10px;
  cursor: pointer;
  box-shadow: 5px 5px 10px #000;
}
.work01 .image-game {
  width: 200px;
  height: 200px;
  background: url('../image/work01-1.jpg') no-repeat;
}
.work01 .image-wedding {
  width: 179px;
  height: 200px;
  background: url('../image/work01-2.jpg') no-repeat;
}
.work01 .image-note {
  width: 192px;
  height: 200px;
  background: url('../image/work01-3.jpg') no-repeat;
}
.work01 .text {
  width: 179px;
  margin: 15px 0 35px;
  border-bottom: 3px solid #000;
  padding-bottom: 24px;
}
.work01 .text-game {
  width: 200px;
}
.work01 .text .title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
}
.work01 .text .title-game {
  width: 200px;
}
.work01 .text .title-wedding {
  width: 179px;
  line-height: 1.3em;
}
.work01 .text .title-note {
  width: 192px;
  line-height: 1.3em;
}
.work01 .text .description {
  line-height: 1.3em;
  font-size: 17px;
  margin-bottom: 20px;
}
.work01 .text .icon a{
  color: #000;
  text-decoration: none;
}
.work01 .text .icon a:visited {
  color: #000;
  text-decoration: none;
}
.work01 .text .icon span {
  font-size: 1.1em;
  line-height: 1.7em;
  font-weight: bold;
}
@media(min-width: 700px) {
  .work01 .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  .work01 .item {
    flex-direction: row;
  }
  .work01 .item .text {
    width: 275px;
    height: 200px;
    margin-top: 90px;
    margin-left: 70px;
  }
  .work01 .item .icon-game {
    display: flex;
  }
  .work01 .item .icon-game .line {
    margin: 5px 20px 0 25px;
    width: 5px;
    height: 25px;
    background: #000;
  }
}

/* Work 02-2 */
.work02-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 130px;
}
.work02-2 > .title {
  margin-bottom: 50px;
}
.work02-2 a {
  color: #000;
  text-decoration: none;
}
.work02-2 a:visited {
  color: #000;
  text-decoration: none;
}
.work02-2 .api {
  width: 225px;
  height: 225px;
  background-color: #CD5C5C;
  box-shadow: -5px 2px 3px #000;
}
.work02-2 .api:hover {
  box-shadow: -15px 15px 15px #000;
  opacity: 0.7;
}
.work02-2 .api .api-up {
  font-size: 6.5em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 7px;
}
.work02-2 .api .api-down {
  color: #1e1e1e;
  font-size: 2.5em;
  font-weight: bold;
  padding-left: 5px;
}
